    <main id="coupons">
    </main>

    <div id="code" class="hidden">
        <div id="qrcode"></div>
        <div class="input">Scan this QR Code at the point of sale</div>
    </div>

    <footer>
        <button disabled id="checkout">Checkout</button>       
    </footer>

    <script id="coupon-template" type="text/x-handlebars-template">
        <div class="coupon" id="coupon-\{{id}}">
            <div class="icon"><img width="120px" src="\{{icon}}"/></div>        
            <h4>\{{title}}</h4>
            <div class="body">
                \{{description}}            
            </div>
            <div class="expiration">Expires on: \{{expiration}}</div>          
            <div class="clip">         
                <button id="\{{id}}" class="clip-button">Clip</button>
            </div>
        </div>
      </script>
</body>